maindiv{
    width: 100vw;
}

#satania{
    max-width: 30vw;
    float: left;
    margin-top: 30vh;
    display: flex;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

#satania img{
    width: 100%;
    
}

#beg
{
    font-size: 5vmin;
}

#creditcardinfo
{
    margin-left: 10px;
    float: left;
    width: 64%;
    position: absolute;
    top: 50%;
    left: 32%;
    transform: translateY(-50%);
}

#thxdiv
{

}

#thx
{
    margin-left: 45%;
    text-align: center;
}